<div class="container mt-4">
  <div class="mb-8">
    <h1 >Welcome, Admin {{username}}!</h1>
    <p class="text-gray-600 mt-2">Admin Dashboard</p>
  </div>
  
  <div class="row">
    {{#each item}}
    <div class ="col-sm-6 col-lg-4">
      <div class="card">
        <a href="/item/{{this.slug}}">
          <img src="{{this.image}}" alt="{{this.image}}" class="card-img-top">
        </a>
        <div class="card-body">
          <a href="/item/{{this.slug}}">
            <h5 class="card-title text-lg font-semibold text-gray-800 hover:text-blue-600 transition-colors">{{this.name}}</h5>
          </a>
          <p class="card-text">{{this.description}}</p>
          <a href="#" class="btn btn-primary-edit">Chọn món</a>
        </div>
      </div>
    </div>
    {{/each}}
  </div>
</div>