<section class="popular-restaurants" id="popular-restaurants">
  <div class="main-content">
    <h2 class="popular-restaurants-title">
      Popular Restaurants
    </h2>
    <div class="popular-restaurants-grid">
      {{#each restaurants}}
        {{#if this.link}}
          <a href="{{this.link}}" class="popular-restaurant-card">
            <img src="{{this.image}}" alt="{{this.name}}" />
            <div class="popular-restaurant-info">
              <h3>{{this.name}}</h3>
              <p>Delivery in 20-25 min</p>
            </div>
          </a>
        {{else}}
          <div class="popular-restaurant-card">
            <img src="{{this.image}}" alt="{{this.name}}" />
            <div class="popular-restaurant-info">
              <h3>{{this.name}}</h3>
              <p>Delivery in 20-25 min</p>
            </div>
          </div>
        {{/if}}
      {{/each}}
    </div>
  </div>
</section> 