{{!-- <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
  <div class="container">
    <a class="navbar-brand" href="/">Food Ordering Website</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link {{isActive currentPath '/user'}}" href="/user">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{isActive currentPath '/foods'}} " href="/foods">Browse Menu</a>
        </li>
        <li class="nav-item">
          <a class="nav-link  {{isActive currentPath '/cart/'}}" href="/cart/{{username}}">Special Offers</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{isActive currentPath '/cart'}}" href="/cart">Restaurants</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {{isActive currentPath '/cart/'}}" href="/cart/{{username}}">Track Order</a>
        </li>
      </ul>
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{username}}
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/cart/{{username}}">Cart</a></li>
            <li><a class="dropdown-item" href="/me/stored/item">Menu</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="/logout">Log out</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav> --}}



{{!-- <header class="header fixed">
  <div class="main-content">
    <div class="body">
      <img src="/img/Logo-no-slogan 1.svg" alt="Foodzie Logo" class="logo" />
      <nav class="nav">
        <ul>
          

          <li><a href="/user" class="nav-link {{isActive currentPath '/user'}}">Home</a></li>
          <li><a href="/menu" class="nav-link {{isActive currentPath '/menu'}}">Browse Menu</a></li>
          <li><a href="#!" class="nav-link {{isActive currentPath '/restaurants'}}">Restaurants</a></li>
          <li><a href="/cart/cart" class="nav-link {{isActive currentPath '/cart'}}">Track Order</a></li>
          <li><a href="#!" class="nav-link {{isActive currentPath '/support'}}">Support</a></li>
        </ul>
      </nav>
      
    </div>
  </div>
</header> --}}

{{!-- <header class="header fixed bg-white shadow-sm py-2">
  <div class="container">
    <div class="row align-items-center">
      
      <!-- Logo Column -->
      <div class="col-6 col-md-3">
        <a href="/">
          <img src="/img/Logo-no-slogan 1.svg" alt="Foodzie Logo" class="img-fluid" style="max-height: 50px;">
        </a>
      </div>

      <!-- Navigation Column -->
      <div class="col-12 col-md-9" >
        <nav class="nav justify-content-center ">
          <ul class="nav flex-column flex-md-row justify-content-center align-items-center mb-0">
            <li class="nav-item">
              <a href="/user" class="nav-link px-2 {{isActive currentPath '/user'}}">Home</a>
            </li>
            <li class="nav-item">
              <a href="/menu" class="nav-link px-2 {{isActive currentPath '/menu'}}">Browse Menu</a>
            </li>
            <li class="nav-item">
              <a href="#!" class="nav-link px-2 {{isActive currentPath '/restaurants'}}">Restaurants</a>
            </li>
            <li class="nav-item">
              <a href="/cart/cart" class="nav-link px-2 {{isActive currentPath '/cart'}}">Track Order</a>
            </li>
            <li class="nav-item">
              <a href="#!" class="nav-link px-2 {{isActive currentPath '/support'}}">Support</a>
            </li>
          </ul>
        </nav>
      </div>

    </div>
  </div>
</header>



            
    </nav>
</header> --}}

<header class="header fixed">
  <div class="main-content">
    <div class="body ">
      <!-- Logo -->
      <img src="/img/Logo-no-slogan 1.svg" alt="Foodzie Logo" class="logo mb-3" />

      <!-- Navigation -->
      <nav class="nav">
        <ul class="nav ">
          <li class="nav-item">
              <a href="/user" class="nav-link px-2 {{isActive currentPath '/user'}}">Home</a>
            </li>
            <li class="nav-item">
              <a href="/menu" class="nav-link px-2 {{isActive currentPath '/menu'}}">Browse Menu</a>
            </li>
            <li class="nav-item">
              <a href="#!" class="nav-link px-2 {{isActive currentPath '/restaurants'}}">Restaurants</a>
            </li>
            <li class="nav-item">
              <a href="/cart/cart" class="nav-link px-2 {{isActive currentPath '/cart'}}">Track Order</a>
            </li>
            <li class="nav-item">
              <a href="#!" class="nav-link px-2 {{isActive currentPath '/support'}}">Support</a>
            </li>
        </ul>
      </nav>
    </div>
  </div>
</header>
